@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

.container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
} 

.title-1 {
    font-size: 34px;
    font-weight: 600;
}

/* Header */

.header {
    padding-top: 46px;
    background-color: #F1F1F1;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;
}

.logo {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #000000;
    padding: 0 12px 3px 0;
    line-height: 1;
}

.logo::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #FDA300;
    border-radius: 50%;
}

/* nav */

.nav-list {
    display: flex;
    column-gap: 50px;
    font-weight: 500;
    font-size: 14px;
}

.nav-link {
    color: #000;
}

.nav-link.active {
    color: #606060;
}

.nav-button {
    display: none;
}

/* header-content */

.header-row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.header-content {
    max-width: 500px;
    margin-top: 124px;
}

.header-content__header {
    margin-bottom: 20px;
    font-size: 44px;
    font-weight: 600;
}

.header-content__text {
    line-height: 2;
}

/* Services */

.services {
    padding: 90px 0;
}

.services-row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 60px;
    flex-wrap: wrap;
}

.services-card {
    min-width: 315px;
    flex: 1 1 0;
}

.service-card__img {
    display: block;
    width: 68px;
    height: 68px;
    margin-bottom: 30px;
}

.service-card__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.service-card__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
}

/* Portfolio */

.portfolio {
    background-color: #F1F1F1;
    padding: 90px 0;
}

.portfolio-title {
    margin-bottom: 70px;
    text-align: center;
}

.project {
    text-align: center;
}

.project + .project {
    margin-top: 90px;
}

.project__img {
    margin-bottom: 40px;
}

.project-title {
    font-size: 18px;
    font-weight: 400;
}

.project-title a {
    color: #000;
    text-decoration: underline;
}

/* Footer */

.contacts {
    padding: 90px 0;
    text-align: center;
}

.contacts-title {
    margin-bottom: 40px;
} 

.contact-content {
    font-size: 18px;
    max-width: 480px;
    margin: 0 auto 40px;
}

.contacts-button {
    display: inline-block;
    margin-bottom: 80px;
    padding: 7px 22px;
    background-color: #070707;
    border-radius: 30px;
    font-size: 18px;
    transition: background-color 0.1s ease-in, top 0.1s ease-in;
}

.contacts-button:hover, .contacts-button:focus {
    background-color: #606060;
}

.contacts-button:active {
    position: relative;
    top: 1px;
    background-color: #000000;
}

.contacts-button a {
    color: #fff;
}

.contact-social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    margin-bottom: 40px;
}

.contact-footer {
    color: #828282;
}